---
const { company } = Astro.props;

import pj from "../../package.json";

const websiteResponse = await fetch(
  `https://my-profile-api.netlify.app/.netlify/functions/website`
);
const website = await websiteResponse.json();

const date = new Date();
// Formater la date en utilisant la locale 'fr-FR' pour la France
const formattedDate = date.toLocaleDateString("fr-FR");
const year = date.getFullYear();
---

<footer>
  <div id="contact">
    <div class="contact-content"></div>
  </div>

  <div class="company">
    <div class="company-content">
      <a href="/" class="text-black"
        ><span class="text-cyan">/</span><span class="text-gold mr-1">/</span>{
          company.name
        }</a
      >
      <p class="text-xs text-black text-opacity-40 italic mt-10">
        Plan du site
      </p>
      <ul class="my-2">
        <li class="mb-1 text-sm"><a href="/">Accueil</a></li>
        <li class="mb-1 text-sm">
          <a href="/alvin-berthelot.html">Qui suis-je ?</a>
        </li>
      </ul>
      <p class="text-xs text-black text-opacity-40 italic mt-6">JAMstack</p>
      <ul class="text-xs text-black text-opacity-60 my-2">
        <li class="mb-1">
          Réalisé le {formattedDate} avec
          <a href="https://astro.build/" target="_blank">{Astro.generator}</a>
        </li>
        <li class="mb-1">
          Hébergé par
          <a href="https://www.netlify.com" target="_blank">Netlify</a>
        </li>
        <li class="mb-1">
          Contenu {website.version}
        </li>
        <li class="mb-1">
          Présentation {pj.version}
        </li>
      </ul>
      <p class="text-xs text-black text-opacity-40 mt-8 py-1">
        Copyright © {company.name} - {year}
      </p>
    </div>
  </div>
</footer>
