---
const employee: Employee = Astro.props.employee;
---

<section id="jumbotron">
  <div class="text">
    <h1>
      {employee.firstname} {employee.lastname}
    </h1>
    <p class="py-2">{employee.skillsSection.description}</p>
  </div>
  <div class="picture">
    <img
      src="/jumbotron-alvin-berthelot.jpg"
      alt="Photo de profil ${data.firstname} ${data.lastname}"
    />
  </div>
</section>
